@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.App {
  width: 95%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: poppins;
}

.title {
  font-weight: 700;
}

.slider {
  -webkit-appearance: none;
  height: 10px;
  width: 100%;
  border-radius: 10px;
  background: #009ad6;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin-bottom: 10px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 30px;
  border: 3px solid #009ad6;
  background: white;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
}

.lables {
  display: flex;
  justify-content: space-between;
}

.tenureContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.tenure {
  width: 15%;
  height: 50px;
  border: none;
  border-radius: 100px;
  background-color: rgb(226, 226, 226);
}

.selected {
  background-color: #009ad6;
  color: white;
}
